<div class="table-card">
  <mat-card class="data-card">
    <div class="data-card__head">
      <div class="head-left">
        <mat-icon>bar_chart</mat-icon>
        <span>{{ card_title }}</span>
      </div>
    </div>

    <div class="data-card__body">
      <div class="table-wrap">
        <table class="table-modern table-modern--items">
          <thead>
            <tr>
              <th>Item</th>
              <th class="col-num">Vendidos</th>
              <th class="col-num">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td class="item-name">{{ item.name }}</td>
              <td class="col-num mono">{{ item.rank }}</td>
              <td class="col-num mono">R$ {{ item.total | number:'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="data-card__footer">
      <span>Total de itens vendidos: <strong>{{ snacks }}</strong></span>
    </div>
  </mat-card>
</div>
