<div class="container">
  <mat-card class="cabecalho form" style="margin-right: 1rem;">
    <h1>Lanches</h1>
    <div class="lanches-container">
      <mat-card class="lanche" *ngFor="let item of items">
        <img src="../../../../../assets/lanche.jpg" alt="">
        <span> {{item.name}} </span>
        <span>R$  {{item.sale_price}} </span>
      </mat-card>
    </div>
  </mat-card>

  <!-- lado responsavel por exibir os itens do pedido -->
  <mat-card class="cabecalho form">
    <div class="detalhe">
      <table class="responsive-table" id="customers">
        <tr>
          <th>Item</th>
          <th>Valor unitário</th>
          <th>Quantidade</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let item of detailOder">
          <td> {{item.name}} </td>
          <td> R$ {{item.sale_price}} </td>
          <td> 
            <button> - </button>
            {{item.quantity}} 
            <button> + </button>
          </td>
          <td> {{item.total}} </td>
        </tr>
      
      </table>
    </div>
    <span><b>Cliente</b> {{client}} </span>
    <span><b>Pagamento</b> {{payment_type}} </span>
    <span><b>Total</b> R${{total}}</span>
    <button  mat-raised-button class="button-success" style="width: 20%;">Finalizar <mat-icon>check_small</mat-icon></button>
    
  </mat-card>
</div>