<div class="container">
  <mat-card class="card-login">
    <mat-card-header>
      <mat-card-title>Cadastrar fornecedor</mat-card-title>
      <mat-card-subtitle style="color: #ffff">Lanchonete</mat-card-subtitle>
    </mat-card-header>

    <!-- formulario de envio de dados para o cadastro de usuario -->
    <form class="form">
      <mat-form-field class="example-full-width">
        <mat-label>Fornecedor</mat-label>
        <input matInput placeholder="Nome do fornecedor" name="name"required />
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Data de vencimento</mat-label>
        <input matInput [matDatepicker]="datepicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancelar</button>
            <button mat-raised-button class="button-apply" matDatepickerApply>Aplicar</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Observação</mat-label>
        <textarea matInput placeholder="Ex. Pedido fora do padrao..."></textarea>
      </mat-form-field>
    </form>

    <mat-card-actions style="justify-content: end">
      <div class="example-button-row">
        <!-- <button routerLink="/login"  style="margin-right: 1rem;" mat-raised-button class="button-warning">Voltar</button>  -->
        <button mat-raised-button class="button-success">
          Salvar
        </button>
      </div>
    </mat-card-actions>
  </mat-card>




</div>
