<div class="container">
  <mat-card style="width: 90%;">
    <h1>Configurações</h1>
    <div class="container-card">
      <h2>Login</h2>
        <!-- formulario de envio de credenciais -->
        <form class="form" style="padding: 10px; display: flex; flex-direction: column;">
          <div class="content-item">
            <br>Alterar logo
            <label for="logo">Selecionar</label>
            <input type="file" id="logo">
          </div>
          <div class="content-item">
            <br>Cor primária do sistema
            <input type="color" name="primary_color" id="primary_color" style="width: 100px;">
          </div>
          <div class="content-item">
            <br>Cor secundária do sistema
            <input type="color" name="seccond_color" id="seccond_color" style="width: 100px;">
          </div>
        </form>
    </div>
  </mat-card>
</div>