<div class="container">
  <mat-card>
    <form class="form">
      <div>
        <div class="form-filter">
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Fornecedor</mat-label>
              <input
                matInput
                placeholder="Nome"
                name="name"
                [(ngModel)]="formData.name"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Responsável</mat-label>
              <input
                matInput
                placeholder="Responsável"
                name="responsible"
                [(ngModel)]="formData.responsible"
              />
            </mat-form-field>
          </div>


          <div>
            <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select name="type" [(ngModel)]="formData.type">
                <mat-option [value]="1">Pão</mat-option>
                <mat-option [value]="2">Carne</mat-option>
                <mat-option [value]="3">Preencher com algo que venha do banco</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-card-actions style="justify-content: end">
            <div class="example-button-row">
              <button
                routerLink="../fornecedores/criar"
                style="margin-right: 1rem"
                mat-raised-button
                class="button-warning"
              >
                Limpar Filtros
              </button>
              <!-- quando for chamar a função dentro da resposta da api eu passo a mensagem como parametro dentro da função -->
              <button
                mat-raised-button
                class="button-success"
                (click)="getSuppliers(pagination)"
              >
                Buscar
              </button>
            </div>
          </mat-card-actions>
        </div>
      </div>
    </form>
  </mat-card>

  <!-- simbolo de loadgin -->
  <div class="" *ngIf="isLoad">
    <mat-spinner
      *ngIf="isLoad"
      diameter="40"
      class="loading-circle"
    ></mat-spinner>
  </div>

  <table class="responsive-table" id="customers">
    <tr>
      <th>Fornecedor</th>
      <th>Responsável</th>
      <th>Tipo</th>
    </tr>
    <tr *ngFor="let supplier of suppliers">
      <td>{{ supplier.name }}</td>
      <td>{{ supplier.responsible }}</td>
      <td>{{ supplier.type }}</td>
    </tr>
  </table>
  <!-- INICIO paginação  -->
  <div class="form">
    <div class="form-filter">
      <div class="pagination">
        <div>
          <span
            >Total: <b> {{ totalSuppliers }} </b>
          </span>
          <span
            >Paginas: <b> {{ totalPages }} </b>
          </span>
        </div>
        <!-- botoes de paginação -->
        <div class="buttons">
          <!-- seta de anterior -->
          <button
            class="btn-pagination"
            [disabled]="currentPage === 1"
            (click)="getSuppliers(this.currentPage - pagination)"
          >
            <
          </button>
          <!-- pagina atual da pagina current_page -->
          {{ currentPage }}
          <!-- seta de proximo -->
          <button
            class="btn-pagination"
            [disabled]="currentPage === totalPages"
            (click)="getSuppliers(this.currentPage + pagination)"
          >
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM DA PAGINAÇÃO -->
</div>
