<!-- <button (click)="inactiveDash()" >{{label_button}}</button> -->
<div class="container">
  <!-- <div class="container-item" *ngIf="setUserDash" >
    <app-users-dash></app-users-dash>
  </div> -->
  <!-- <div class="container-item" *ngIf="setCategoryDash">
    <app-items-category></app-items-category>
  </div> -->
<!-- 
  <div class="container-item" *ngIf="setCategoryDash">
    <app-order-supplier-status></app-order-supplier-status>
  </div> -->
</div>
<div class="container-item" *ngIf="setFinanceDash">
  <app-finance-dash></app-finance-dash>
</div>
<hr>
<!-- ultimos pedidos -->
<div class="area-dash-info">
  <div class="container-item">
    <app-last-orders-snack></app-last-orders-snack>
  </div>

  <div class="container-item">
    <app-rank-snacks></app-rank-snacks>
  </div>

  <!-- <div class="container-item">
    <app-last-orders-snack></app-last-orders-snack>
  </div> -->

</div>