.container{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  margin: 1rem;
}
.container-item{
  margin: 1rem;
}
.area-dash-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}