<div class="finish-order-page">
  <mat-card class="form-card">
    <div class="form-card__head">
      <div class="head-left">
        <mat-icon>assignment_turned_in</mat-icon>
        <span>Finalizar pedido</span>
      </div>
      <div class="head-right">
        <span class="mono">ID: <strong>{{ identity }}</strong></span>
      </div>
    </div>

    <form class="form-grid">
      <mat-form-field appearance="outline">
        <mat-label>Recebido por</mat-label>
        <mat-select name="id_user" required>
          <mat-option *ngFor="let user of users" [value]="user.id_user">
            {{ user.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form-block">
        <label class="block-label">Status</label>
        <mat-radio-group
          aria-label="Selecione o status"
          name="status"
          [(ngModel)]="updateOrder.status"
          class="radio-group"
        >
          <mat-radio-button value="1">Receber</mat-radio-button>
          <mat-radio-button value="2">Cancelar</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>

    <div class="form-actions">
      <button mat-raised-button class="button-success" (click)="finishOrder()">
        Salvar
      </button>
    </div>
  </mat-card>
</div>
