<div class="container">
  <mat-card class="cabecalho form" style="width: 55%; height: 50vh;">
    <form class="form">
      <div>
        <div class="form-filter">
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Valor</mat-label>
              <input matInput placeholder="R$ 1" name="discounted_value" [(ngModel)]="FinishOrder.discounted_value" >
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <mat-label>Forma de pagamento</mat-label>
              <mat-select name="discounted_value" [(ngModel)]="FinishOrder.discounted_type" >
                <mat-option [value]="'pix'">Pix</mat-option>
                <mat-option [value]="'Dinheiro'">Dinheiro</mat-option>
                <mat-option [value]="'Cartao'">Cartão</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
          <mat-card-actions style="justify-content: end;">
            <div class="example-button-row" >
              <!-- quando for chamar a função dentro da resposta da api eu passo a mensagem como parametro dentro da função -->
              <button [disabled]="isDecrease" mat-raised-button class="button-success" style="margin-right: 1rem;" (click)="finishOrderSnack() " >Abater</button>
            </div>
          </mat-card-actions>
        </div>
      </div>
    </form>
    <mat-card class="cabecalho form" style="width: 100%; margin-top: 1rem;">
      <span><b>Pedido: </b> {{identity}} </span>
      <span><b>Total:</b> {{total_order}} </span>
      <span><b>Pago:</b> {{pago}} </span>
      <span><b>Restante:</b> {{restante}} </span>
    </mat-card>
  </mat-card>
  
  <!-- lado direito responsavel pelo detalhe -->
  <mat-card class="cabecalho form" style="width: 45%; height: 50vh;">
    Detalhes
    <div class="detalhe" >
      <table class="responsive-table" id="customers">
        <tr>
          <th>Item</th>
          <th>Subtotal</th>
          <th>Quantidade</th>
        </tr>
        <tr *ngFor="let item of detailOder">
          <td> {{item.name}} </td>
          <td> R$ {{item.total}} </td>
          <td> {{item.total_quantity}} </td>
        </tr>
      </table>
    </div>
  </mat-card>

</div>