<div class="container">
  <mat-card class="card-login">
    <mat-card-header>
      <mat-card-title>Cadastrar item</mat-card-title>
      <mat-card-subtitle style="color: #ffff">Lanchonete</mat-card-subtitle>
    </mat-card-header>

        <!-- simbolo de loadgin -->
        <div class="loading-content" style="height: 40px;">
          <div class="" *ngIf="isLoad">
            <mat-spinner *ngIf="isLoad" diameter="40" class="loading-circle"></mat-spinner>
          </div>
        </div>

    <!-- formulario de envio de dados para o cadastro de usuario -->
    <form class="form" (keyup.enter)="insertItem()">
      <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome do Item" name="name" [(ngModel)]="newItem.name" required />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Descrição</mat-label>
        <input matInput placeholder="Descrição" name="description" [(ngModel)]="newItem.description" required />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Categoria</mat-label>
        <mat-select name="category" [(ngModel)]="newItem.category" required>
          <mat-option *ngFor="let names of category_names" [value]="names.id_category">{{names.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Estoque minimo</mat-label>
        <input type="number" matInput placeholder="Ex: 1" name="min_stock" [(ngModel)]="newItem.min_stock" required />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Valor de venda</mat-label>
        <input type="number" matInput placeholder="Ex: 1" name="sale_price" [(ngModel)]="newItem.sale_price" required />
      </mat-form-field>
    </form>

    <mat-card-actions style="justify-content: end">
      <div class="example-button-row">
        <!-- <button routerLink="/login"  style="margin-right: 1rem;" mat-raised-button class="button-warning">Voltar</button>  -->
        <button mat-raised-button class="button-success" (click)="insertItem()"> Salvar </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
