<div class="container">
  <div class="logo">
    <img class="img-logo" src="../../../assets/logo.png" alt="">
  </div>
  <mat-card class="card-login" >
    <mat-card-header>
      <mat-card-title >Login</mat-card-title>
      <mat-card-subtitle style="color: #ffff" >Lanchonete</mat-card-subtitle>
    </mat-card-header>

    <!-- formulario de envio de credenciais -->
    <form class="form" (keyup.enter)="login()">
      <mat-form-field class="example-full-width">
        <mat-label>Usuário</mat-label>
        <input matInput placeholder="Usuário" name="login" [(ngModel)]="formData.login">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password"  [(ngModel)]="formData.password">
          <span class="password_hide" matSuffix (click)="hidPassword()">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
      </mat-form-field>
    </form>

    <mat-card-actions style="justify-content: end;">
      <div class="example-button-row">
        <button routerLink="../usuarios/criar" style="margin-right: 1rem;" mat-raised-button class="button-warning">Criar</button> 
        <!-- quando for chamar a função dentro da resposta da api eu passo a mensagem como parametro dentro da função -->
        <button mat-raised-button class="button-success" (click)="login()">Acessar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>