<div class="container" style="background-color: var(--button-warning);">
  <div class="logo">
    <!-- <img class="logo-img" src="../../../assets/logo-2.png" alt="Phillipão Lanches Logo" /> -->
  </div>
  <div class="card-login-content">
    <mat-card class="card-login" >
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>

      <form class="form" (keyup.enter)="login()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Usuário</mat-label>
          <input matInput placeholder="Usuário" name="login" [(ngModel)]="formData.login" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width password-field">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="formData.password" />
          <button mat-icon-button matSuffix type="button" (click)="hidPassword()" [attr.aria-label]="'Toggle password visibility'">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <mat-card-actions class="actions">
        <button mat-raised-button color="primary" class="button-success" (click)="login()">Acessar</button>
        <div class="create-new" >Criar um novo</div>
      </mat-card-actions>

      <div *ngIf="isLoad" class="loading-content">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    </mat-card>
  </div>
</div>
