<div class="container">
  <mat-card class="card-login">
    <mat-card-header>
      <mat-card-title style="color: black !important;">Baixa de item</mat-card-title>
    </mat-card-header>

    <form class="form">
          <!-- simbolo de loadgin -->
          <div class="loading-content" style="height: 40px;">
            <div class="" *ngIf="isLoad">
              <mat-spinner *ngIf="isLoad" diameter="40" class="loading-circle"></mat-spinner>
            </div>
          </div>
          <mat-form-field class="example-full-width">
            <mat-label>Item</mat-label>
            <input matInput placeholder="Nome do Item" [formControl]="itemControl" [(ngModel)]="lowItem.id_item" [matAutocomplete]="auto" required />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredItems | async" [value]="option.id_item">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          
      <!-- quatidade -->
      <mat-form-field class="example-full-width">
        <mat-label>Quantidade</mat-label>
        <input matInput placeholder="Quantidade" name="qte" [(ngModel)]="lowItem.qte_remove"  required type="number"/>
      </mat-form-field>

      <div class="example-button-row">
        <button mat-raised-button class="button-success" (click)="lowItemStock()"> Salvar </button>
      </div>
    </form>
  </mat-card>
</div>