<button class="btn-goback" routerLink="../../../home">
  <mat-icon>undo</mat-icon>
</button>

<div class="container" style="margin-bottom: 1rem; display: flex; gap: 1rem;">
  <mat-card class="card-total" *ngFor="let label of labels; let i = index" [style.background-color]="colorsBg[i]">
    <div class="card-body">
      <div class="arrow-up material-symbols-outlined">
        <mat-icon [ngSwitch]="label" style="font-size: 50px; width: auto; height: auto;">
          <ng-container *ngSwitchCase="'Pix'">attach_money</ng-container>
          <ng-container *ngSwitchCase="'Dinheiro'">payments</ng-container>
          <ng-container *ngSwitchCase="'Cartão'">credit_card</ng-container>
          <ng-container *ngSwitchDefault>payment</ng-container>
        </mat-icon>
      </div>
      <div class="description">
        <p><b>R$ {{ quantities[i] | number:'1.2-2' }} </b></p>
        <span class="span">{{ label }}</span>
      </div>
    </div>
    <div class="card-footer" [style.background-color]="colorsFooter[i]">
      <div class="see_detail">
        {{current_month}}
      </div>
    </div>
  </mat-card>
</div>

<h1>Gráfico</h1>
<div class="content-chart">
  <p>Gráfico mes atual</p>
  <canvas id="financeChartDetail"></canvas>
</div>
