<div class="create-category-page">
  <mat-card class="form-card">
    <!-- Cabeçalho -->
    <div class="form-head">
      <div class="head-left">
        <mat-icon>category</mat-icon>
        <span>Cadastrar categoria</span>
      </div>
    </div>

    <!-- Formulário -->
    <form class="form-body" (keyup.enter)="insertCategory()">
      <div class="form-grid">
        <mat-form-field appearance="outline" class="col-2">
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Nome da categoria"
            name="name"
            [(ngModel)]="newCategory.name"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-2">
          <mat-label>Descrição</mat-label>
          <input
            matInput
            placeholder="Descrição"
            name="description"
            [(ngModel)]="newCategory.description"
          />
        </mat-form-field>
      </div>
    </form>

    <!-- Ações -->
    <mat-card-actions class="actions">
      <button mat-raised-button class="button-success" (click)="insertCategory()">
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
