


<div class="container">
  <mat-card class="card-login">
    <mat-card-header>
      <mat-card-title>Pedido cliente</mat-card-title>
      <mat-card-subtitle style="color: #ffff">Lanchonete</mat-card-subtitle>
    </mat-card-header>

    <!-- formulario de envio de dados para o cadastro de usuario -->
    <form class="form">
      <mat-form-field class="example-full-width">
        <mat-label>Cliente</mat-label>
        <input matInput placeholder="Mesa, Nome etc.." name="name"  [(ngModel)]="newOrder.client" required />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Tipo de atendimento</mat-label>
        <mat-select name="category" [(ngModel)]="newOrder.service_type" required>
          <mat-option [value]="'Salão'" >Salão</mat-option>
          <mat-option [value]="'Whatsapp'" >Whatsapp</mat-option>
          <mat-option [value]="'Ifood'" >Ifood</mat-option>
          <mat-option [value]="'Outro'" >Outro</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <mat-card-actions style="justify-content: end">
      <div class="example-button-row">
        <button mat-raised-button class="button-success" (click)="createNewOrder()" > Salvar </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
