<mat-toolbar class="nav_bar_sup">
  <div class="">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="opened=!opened">
      <mat-icon style="margin-right: 5px;">menu</mat-icon>
    </button>
    <span>Lanchonete</span>
  </div>
  <div class="logo_nav"  routerLink="/home">
    <img class="logo" src="../../../assets/logo.png" alt="">
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">

    <mat-list role="list">
       <!-- acordion para menu de lanches -->
       <mat-accordion class="header-menu"  >
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header class=" header-menu" >
            <mat-panel-title>
              Home:
            </mat-panel-title>
            <mat-icon style="margin-right: 5px;">home</mat-icon>
          </mat-expansion-panel-header >
          <div class="content">
              <!-- item menu -->
              <mat-list-item role="listitem" routerLink="/home">
                <mat-icon style="margin-right: 5px;">home</mat-icon>
                Inicio
              </mat-list-item>
              <!-- item menu -->
              <mat-list-item role="listitem" routerLink="/home">
                <mat-icon style="margin-right: 5px;">donut_small</mat-icon>
                Dashboard
              </mat-list-item>
              <!-- item menu -->
              <mat-list-item role="listitem" routerLink="/home">
                <mat-icon style="margin-right: 5px;">feed</mat-icon>
                Novidades
              </mat-list-item>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- acordion para menu de lanches -->
      <mat-accordion class="header-menu"  >
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header class=" header-menu" >
            <mat-panel-title>
              Lanches:
            </mat-panel-title>
            <mat-icon style="margin-right: 5px;">fastfood </mat-icon>
          </mat-expansion-panel-header >
          <div class="content">
              <!-- item menu -->
            <mat-list-item class="menu-item" role="listitem" routerLink="/lanches/listar">
              <mat-icon style="margin-right: 5px;">search</mat-icon>
              Listar Lanches
            </mat-list-item>

            <!-- item menu -->
            <mat-list-item role="listitem" routerLink="/lanches/criar">
              <mat-icon style="margin-right: 5px;">add_circle</mat-icon>
              Criar lanche
            </mat-list-item>
            <!-- item menu -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>

       <!-- acordion para orders -->
       <mat-accordion >
        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="header-menu">
            <mat-panel-title>
              Pedidos Lanches:
            </mat-panel-title>
            <mat-icon style="margin-right: 5px;">list_alt</mat-icon>
          </mat-expansion-panel-header >
          <div class="content">
            <!-- item menu -->
            <mat-list-item role="listitem" routerLink="lanches/pedidos/listar">
              <mat-icon style="margin-right: 5px;">search</mat-icon>
              Listar Pedidos
            </mat-list-item>
            <!-- item menu -->
            <mat-list-item role="listitem" routerLink="lanches/pedidos/criar">
              <mat-icon style="margin-right: 5px;">grading</mat-icon>
              Criar Pedidos
            </mat-list-item>
            <!-- item menu -->
          </div>
        </mat-expansion-panel>
    </mat-accordion>

      <!-- acordion para menu de usuarios -->
      <mat-accordion class="header-menu" *ngIf="showAdminMenu">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header class=" header-menu" >
            <mat-panel-title>
              Usuários:
            </mat-panel-title>
            <mat-icon style="margin-right: 5px;">people </mat-icon>
          </mat-expansion-panel-header >
          <div class="content">
              <!-- item menu -->
            <mat-list-item class="menu-item" role="listitem" routerLink="/usuarios/listar">
              <mat-icon style="margin-right: 5px;">search</mat-icon>
              Listar Usuarios
            </mat-list-item>

            <!-- item menu -->
            <mat-list-item role="listitem" routerLink="/usuarios/criar">
              <mat-icon style="margin-right: 5px;">group_add</mat-icon>
              Criar usuário
            </mat-list-item>
            <!-- item menu -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- acordio para menu de fornecedores -->
      <mat-accordion *ngIf="showAdminMenu">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="header-menu">
            <mat-panel-title>
              Fornecedores:
            </mat-panel-title>
            <mat-icon style="margin-right: 5px;">diversity_3</mat-icon>
          </mat-expansion-panel-header >
          <div class="content">
        <!-- item menu -->
          <mat-list-item role="listitem" routerLink="/fornecedores/listar">
            <mat-icon style="margin-right: 5px;">search</mat-icon>
            Listar Fornecedor
          </mat-list-item>
          <!-- item menu -->
              <!-- item menu -->
            <mat-list-item role="listitem" routerLink="/fornecedores/criar">
              <mat-icon style="margin-right: 5px;">contact_page</mat-icon>
              Cadastrar fornecedor
            </mat-list-item>
       
          </div>
        </mat-expansion-panel>
      </mat-accordion>

       <!-- acordion para orders -->
       <mat-accordion *ngIf="showAdminMenu">
        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="header-menu">
            <mat-panel-title>
              Pedidos Fornecedor:
            </mat-panel-title>
            <mat-icon style="margin-right: 5px;">list_alt</mat-icon>
          </mat-expansion-panel-header >
          <div class="content">
            <!-- item menu -->
            <mat-list-item role="listitem" routerLink="fornecedores/pedidos/listar">
              <mat-icon style="margin-right: 5px;">search</mat-icon>
              Listar Pedidos
            </mat-list-item>
            <!-- item menu -->
            <mat-list-item role="listitem" routerLink="fornecedores/pedidos/criar">
              <mat-icon style="margin-right: 5px;">grading</mat-icon>
              Criar Pedidos
            </mat-list-item>
            <!-- item menu -->
          </div>
        </mat-expansion-panel>
    </mat-accordion>

      <!-- acordion para items -->
      <mat-accordion *ngIf="showAdminMenu">
        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="header-menu">
            <mat-panel-title>
              Items:
            </mat-panel-title>
            <mat-icon style="margin-right: 5px;">inventory</mat-icon>
          </mat-expansion-panel-header >
          <div class="content">
            <!-- item menu -->
            <mat-list-item role="listitem" routerLink="/itens/listar">
              <mat-icon style="margin-right: 5px;">search</mat-icon>
              Listar Itens
            </mat-list-item>
            <!-- item menu -->
            <mat-list-item role="listitem" routerLink="/itens/criar">
              <mat-icon style="margin-right: 5px;">grading</mat-icon>
              Criar Itens
            </mat-list-item>
            <!-- item menu -->
          </div>
        </mat-expansion-panel>
    </mat-accordion>

    <!-- acordion para items -->
    <mat-accordion *ngIf="showAdminMenu">
      <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="header-menu">
          <mat-panel-title>
            Categorias:
          </mat-panel-title>
          <mat-icon style="margin-right: 5px;">category</mat-icon>
        </mat-expansion-panel-header >
        <div class="content">
          <mat-list-item role="listitem" routerLink="/categorias/listar">
            <mat-icon style="margin-right: 5px;">search</mat-icon>
            Listar Categorias
          </mat-list-item>
           <!-- item menu -->
           <mat-list-item role="listitem" routerLink="/categorias/criar">
            <mat-icon style="margin-right: 5px;">category</mat-icon>
            Criar Categorias
          </mat-list-item>
        </div>
      </mat-expansion-panel>
  </mat-accordion>

  <p><button mat-button (click)="logout()" class="button-exit" >  <mat-icon style="margin-right: 5px;">logout</mat-icon> Sair</button></p>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
