mat-sidenav-container{
  height: calc(205vh - 115vh);
  // height: 100%;
}
mat-sidenav{
  width: 250px;
  background-color: var(--menu-second);
  
}
.nav_bar_sup{
  background-color: var(--button-warning);
  color: #fff;
}

.menu-item{
  cursor: pointer !important;
}

::ng-deep .mdc-list-item__content{
  cursor: pointer !important;
}


::ng-deep .header-menu{
  border-radius: 0px !important;
  margin: 0px !important;
  background-color: var(--menu-second) !important;
}

.button-exit{
  align-self: flex-end;
}

