<!-- Topbar -->
<mat-toolbar class="nav_bar_sup">
  <div>
    <button mat-icon-button aria-label="Alternar menu" (click)="opened = !opened">
      <mat-icon class="mr-5">menu</mat-icon>
    </button>
    <span>Lanchonete</span>
  </div>

  <div class="logo_nav" mat-button [matMenuTriggerFor]="menu">
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let menu of menu_items_config"
              [routerLink]="menu.path"
              routerLinkActive="active-item">
        {{ menu.title }}
      </button>
    </mat-menu>
    <img class="logo" src="../../../assets/logo.png" alt="Logo">
  </div>
</mat-toolbar>

<!-- Sidenav -->
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <!-- Accordion único com todos os grupos: abre um por vez (multi=false) -->
    <mat-accordion class="menu-accordion" [multi]="false">
      <!-- HOME -->
      <mat-expansion-panel *ngIf="menu_items_home.length">
        <mat-expansion-panel-header>
          <mat-icon>home</mat-icon>
          <span class="menu__header-text">Home</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of menu_items_home"
             [routerLink]="item.path"
             routerLinkActive="active-item">
            <mat-icon class="mr-5">{{ item.icon }}</mat-icon>
            <span class="menu__text">{{ item.title }}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- PEDIDOS LANCHES -->
      <mat-expansion-panel *ngIf="menu_items_order_snack.length">
        <mat-expansion-panel-header>
          <mat-icon>list_alt</mat-icon>
          <span class="menu__header-text">Pedidos Lanches</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of menu_items_order_snack"
             [routerLink]="item.path"
             routerLinkActive="active-item">
            <mat-icon class="mr-5">{{ item.icon }}</mat-icon>
            <span class="menu__text">{{ item.title }}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- USUÁRIOS -->
      <mat-expansion-panel *ngIf="menu_items_users.length">
        <mat-expansion-panel-header>
          <mat-icon>people</mat-icon>
          <span class="menu__header-text">Usuários</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of menu_items_users"
             [routerLink]="item.path"
             routerLinkActive="active-item">
            <mat-icon class="mr-5">{{ item.icon }}</mat-icon>
            <span class="menu__text">{{ item.title }}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- FORNECEDORES -->
      <mat-expansion-panel *ngIf="menu_items_suppliers.length">
        <mat-expansion-panel-header>
          <mat-icon>diversity_3</mat-icon>
          <span class="menu__header-text">Fornecedores</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of menu_items_suppliers"
             [routerLink]="item.path"
             routerLinkActive="active-item">
            <mat-icon class="mr-5">{{ item.icon }}</mat-icon>
            <span class="menu__text">{{ item.title }}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- PEDIDOS FORNECEDOR -->
      <mat-expansion-panel *ngIf="menu_items_order_supplier.length">
        <mat-expansion-panel-header>
          <mat-icon>list_alt</mat-icon>
          <span class="menu__header-text">Pedidos Fornecedor</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of menu_items_order_supplier"
             [routerLink]="item.path"
             routerLinkActive="active-item">
            <mat-icon class="mr-5">{{ item.icon }}</mat-icon>
            <span class="menu__text">{{ item.title }}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- ITENS -->
      <mat-expansion-panel *ngIf="menu_items_item.length">
        <mat-expansion-panel-header>
          <mat-icon>inventory</mat-icon>
          <span class="menu__header-text">Itens</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of menu_items_item"
             [routerLink]="item.path"
             routerLinkActive="active-item">
            <mat-icon class="mr-5">{{ item.icon }}</mat-icon>
            <span class="menu__text">{{ item.title }}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- CATEGORIAS -->
      <mat-expansion-panel *ngIf="menu_items_category.length">
        <mat-expansion-panel-header>
          <mat-icon>category</mat-icon>
          <span class="menu__header-text">Categorias</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of menu_items_category"
             [routerLink]="item.path"
             routerLinkActive="active-item">
            <mat-icon class="mr-5">{{ item.icon }}</mat-icon>
            <span class="menu__text"  >{{ item.title }}</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>

    <!-- Sair -->
    <div class="menu__footer">
      <button mat-button (click)="logout()" class="button-exit">
        <mat-icon class="mr-5">logout</mat-icon> Sair
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
