mat-sidenav-container{
  height: calc(205vh - 115vh);
  height: 100%;
}
mat-sidenav{
  width: 250px;
  // background-color: var(--menu-second);
  background-image: linear-gradient(to bottom, #dd5517, #e05918, #e45c19, #e7601a, #ea631b, #e6601a, #e15d1a, #dd5a19, #d15116, #c44813, #b83f0f, #ac360c);
  
}
.nav_bar_sup{
  background-color: var(--button-warning);
  color: #fff;
}

.menu-item{
  cursor: pointer !important;
}

::ng-deep .mdc-list-item__content{
  cursor: pointer !important;
}

::ng-deep .mat-mdc-list-item:hover{
  border-bottom: 1px solid black;
  background-color: #dd5517;
  
}

::ng-deep .header-menu{
  border-radius: 10px !important;
  margin: 0px !important;
  background-color: var(--menu-second) !important;
}
::ng-deep .mat-expansion-panel:last-of-type{
  margin-top: 10px !important;
  background-color: transparent !important;
}

.button-exit{
  align-self: flex-end;
}

