<div class="container">
  <mat-card>
    <form class="form">
      <div>
        <div class="form-filter">
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Nome</mat-label>
              <input matInput placeholder="Nome" name="name" [(ngModel)]="filterCategory.name" />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Descrição</mat-label>
              <input matInput placeholder="Descrição" name="description" [(ngModel)]="filterCategory.description" />
            </mat-form-field>
          </div>

          <mat-card-actions style="justify-content: end">
            <div class="example-button-row">
              <button (click)="clearInputs()" style="margin-right: 1rem" mat-raised-button class="button-warning">
                Limpar filtros
              </button>
              <!-- quando for chamar a função dentro da resposta da api eu passo a mensagem como parametro dentro da função -->
              <button mat-raised-button class="button-success" (click)="getCategories(1)">
                Buscar
              </button>
            </div>
          </mat-card-actions>
        </div>
      </div>
    </form>
  </mat-card>

  <!-- simbolo de loadgin -->
  <div class="loading-content" style="height: 40px;">
    <div class="" *ngIf="isLoad">
      <mat-spinner *ngIf="isLoad" diameter="40" class="loading-circle"></mat-spinner>
    </div>
  </div>

  <table class="responsive-table" id="customers">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th></th>
    </tr>
    <tr *ngFor="let category of categories">
      <td>{{ category.name }}</td>
      <td>{{ category.description }}</td>
      <td class="options-table" >
        <mat-icon style="cursor: pointer" (click)="globalService.openDialog('Editar Categoria', 'edit-category', category.id_category || '', '50%' )" >edit</mat-icon>
      </td>
    </tr>
  </table>
  <!-- INICIO paginação  -->
  <div class="form">
    <div class="form-filter">
      <div class="pagination">
        <div>
          <span
            >Total: <b> {{ totalCategories }} </b>
          </span>
          <span
            >Paginas: <b> {{ totalPages }} </b>
          </span>
        </div>
        <!-- botoes de paginação -->
        <div class="buttons">
          <!-- seta de anterior -->
          <button class="btn-pagination" [disabled]="currentPage === 1" (click)="getCategories(this.currentPage - 1)">
            <
          </button>
          <!-- pagina atual da pagina current_page -->
          {{ currentPage }}
          <!-- seta de proximo -->
          <button class="btn-pagination" [disabled]="currentPage === totalPages" (click)="getCategories(this.currentPage + 1)">
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIM DA PAGINAÇÃO -->
  <div class=""> <h1>Gráfico</h1> </div>
  <app-items-category></app-items-category>
</div>
