<div class="container">
  <mat-card class="card-login">
    <!-- simbolo de loadgin -->
    <div class="loading-container" *ngIf="isLoad">
      <mat-spinner *ngIf="isLoad" diameter="40" class="loading-circle"></mat-spinner>
    </div>

    <!-- formulario de envio de dados para o cadastro de usuario -->
    <!-- criado ngfor para listar os itens vindos da api -->
    <div class="" *ngFor="let item of users">
      <form class="form">
        <mat-form-field class="example-full-width" style="width: 60%" >
          <mat-label>Nome</mat-label>
          <input autofocus matInput placeholder="Nome do usuário" name="name" [(ngModel)]="newUser.name" required  />
        </mat-form-field>

        <mat-form-field class="example-full-width"  style="width: 35%">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Login" name="login" required [(ngModel)]="newUser.login" />
        </mat-form-field>

        <mat-form-field class="example-full-width"  style="width: 65%">
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Senha" type="password" name="password" required [(ngModel)]="newUser.password" />
        </mat-form-field>

        <mat-form-field class="example-full-width"  style="width: 30%">
          <mat-label>Contato</mat-label>
          <input matInput placeholder="Contato" name="contact" required  [(ngModel)]="newUser.contact" />
        </mat-form-field>


        <mat-form-field class="example-full-width" style="width: 35%">
          <mat-label>Nível</mat-label>
          <mat-select name="usergroup"  [(ngModel)]="newUser.usergroup" required>
            <mat-option [value]="1">Administrador</mat-option>
            <mat-option [value]="2">Caixa</mat-option>
           </mat-select>
        </mat-form-field>
      </form>

      <mat-card-actions style="justify-content: end">
        <div class="example-button-row">
          <button mat-raised-button class="button-warning" (click)="cancel()" style="margin-right: 1rem;">
            Fechar
          </button>
          <button mat-raised-button class="button-success" (click)="updateUser()">
            Salvar
          </button>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
