<div class="container">
    <mat-card class="card-login">
      <mat-card-header>
        <mat-card-subtitle>Lanchonete</mat-card-subtitle>
      </mat-card-header>
      <!-- formulario de envio de dados para o cadastro de usuario -->
      <form class="form">
        <mat-form-field class="example-full-width">
            <mat-label>Item</mat-label>
            <input matInput placeholder="Ex. Pedido fora do padrao..." disabled="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Quantidade</mat-label>
            <input matInput placeholder="Ex. Pedido fora do padrao...">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Valor por unidade</mat-label>
            <input matInput placeholder="Ex. Pedido fora do padrao...">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Subtotal</mat-label>
            <input matInput placeholder="Ex. Pedido fora do padrao..." disabled>
        </mat-form-field>
      </form>
  
      <mat-card-actions style="justify-content: end">
        <div class="example-button-row">
          <!-- <button routerLink="/login"  style="margin-right: 1rem;" mat-raised-button class="button-warning">Voltar</button>  -->
          <button mat-raised-button class="button-success" >
            Adicionar
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  
  
  
  
  </div>
  