<div class="container">
  <mat-card class="card">
    <div class="card-container">
      <div class="card-head">
        <span class="span"> {{card_title}} </span>
        <span class="span"> <span>R$ 123.00</span> </span>
      </div>
      <div class="card-body">
        <table class="responsive-table" id="customers">
          <tr>
            <th>Cliente</th>
            <th>Pedido</th>
            <th>Status</th>
            <th>Valor</th>
          </tr>
          <tr *ngFor="let order of orders">
            <td> {{order.client}} </td>
            <td> {{order.id_order_snack}} </td>
            <td>
              <mat-icon *ngIf="order.status === 'Pendente'" class="icon-unsuccess">do_not_disturb_on</mat-icon>
              <mat-icon *ngIf="order.status !== 'Pendente'" class="icon-success">check</mat-icon>
              {{order.status}}
            </td>
            <td> {{order.total}} </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <span>Total de pedidos do dia: {{totalOrders}} </span>
    </div>
  </mat-card>
</div>